<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Style/Devenir-meeter.css" />
    <link rel="stylesheet" href="../component/Navbar/Navbar.css" />
    <link rel="stylesheet" href="../component/Footer/Footer.css" />
    <link rel="stylesheet" href="../component/BoutonBleu.css" />
    <title>Devenir meeter</title>
  </head>
  <body>
    <header>
      <div class="navbar-container" id="navbar-container"></div>
      <script src="../component/Navbar/Navbar.js"></script>
      <script>
            (async () => {
                document.getElementById('navbar-container').innerHTML = await Navbar("..");
            })();
      </script>
      <h1>Demande pour devenir Meeter</h1>
    </header>
    <main>
      <div class="add-photo-container">
        <h2>Photo de profil :</h2>
        <div class="add-photo">
          <script src="../component/BoutonBleu.js"></script>
          <div id="boutonContainer1"></div>
          <script>
            document.getElementById("boutonContainer1").innerHTML = BoutonBleu(
              "Ajouter votre photo de profil"
            );
          </script>
          <img
            src="../assets/img/icons/profile-icon.svg"
            alt="profile-icon"
            id="profile-icon"
          />
        </div>
      </div>
      <h2>Adresse :</h2>
      <div class="adress-container">
        <div class="input-adress">
          <input
            type="text"
            id="address"
            placeholder="Entrez votre adresse postale"
          />
        </div>
      </div>
      <div class="description">
        <h2>Description de vous-même :</h2>
        <textarea
          id="description-area"
          rows="10"
          placeholder="Descrivez-vous en quelques mots..."
        ></textarea>
      </div>
      <div class="telephone-container">
        <h2>Numéro de téléphone :</h2>
        <div class="input-telephone">
          <input type="tel" id="telephone" placeholder="Entrez votre numéro" />
        </div>
      </div>
      <div class="email-verif-container">
        <h2>Vérification de l'adresse e-mail :</h2>
        <div class="bouton-verif">
          <script src="../component/BoutonBleu.js"></script>
          <div id="boutonContainer2"></div>
          <script>
            document.getElementById("boutonContainer2").innerHTML = BoutonBleu(
              "Envoyer un e-mail de vérification"
            );
          </script>
          <img
            src="../assets/img/icons/check-icon.svg"
            alt="check-icon"
            id="check-icon"
          />
        </div>
      </div>
      <div class="age-verif-container">
        <div class="age">
          <p>Certifiez-vous d'avoir 18 ans ou plus ?</p>
          <input type="checkbox" id="checkbox-age" />
        </div>
        <div id="boutonContainer3"></div>
        <script>
          document.getElementById("boutonContainer3").innerHTML =
            BoutonBleu("Devenir Meeter");
        </script>
      </div>
      <script src="../component/Navbar/navAction.js"></script>
    </main>
    <footer id="footer-container" class="footer-container">
      <script src="../component/Footer/Footer.js"></script>
      <script>
        document.getElementById("footer-container").innerHTML = Footer("..");
      </script>
    </footer>
  </body>
</html>
