<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" href="../component/Footer/Footer.css">
    <link rel="stylesheet" type="text/css" href="../component/Navbar/Navbar.css">
    <link rel="stylesheet" type="text/css" href="../component/BoutonBleu.css">
    <link rel="stylesheet" href="../Style/Inscription.css">
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

</head>
<body>
    <div class="background-image"></div>
    <header>
        <div id="navbar-container" class="navbar-container"></div>
        <script src="../component/Navbar/Navbar.js"></script>
        <script>
            document.getElementById('navbar-container').innerHTML = Navbar(false, "..");
        </script>
        <script src="../component/Navbar/navAction.js"></script> 

    </header>

    <main>
        <div class="containerLogin">
            <h1>Inscription</h1>
            <form action="../../controller/Connexion/Inscription.php" method="post" class="group-form">
                <p>Email</p>
                <input class="textbox" type="text" name="email" required>
                <p>Mot de passe</p>
                <div id="containerPassword">
                    <input class="textbox" type="password" id="password" name="password" required>
                    <img class="togglePassword" src="../assets/img/ouvert.png" alt="Afficher/Masquer" >
                </div> 

                <div class="validator-criters">
                    <span class="chiffre"><i class="far fa-check-circle"></i> &nbsp;Votre mot de passe doit avoir 1 chiffres</span>
                    <span class="majuscule"><i class="far fa-check-circle"></i> &nbsp;Votre mot de passe doit avoir 1 lettre majuscule</span>
                    <span class="minuscule"><i class="far fa-check-circle"></i> &nbsp;Votre mot de passe doit avoir 1 lettre minuscule</span>
                    <span class="generique"><i class="far fa-check-circle"></i> &nbsp;Votre mot doit comporter 8 Caractères au minimum</span>
                </div>
        
            
                <div class="versCo"> 
                    <p id="pasCompte">Déjà un compte ?</p> <a  id="connexion" href="Connexion.html">Se connecter</a>
                </div>

                <div id="mention">
                    <input type="checkbox" id="mention" name="mention" required/>
                    <div id="mentionTexte"><label id="" for="mention">Je confirme avoir lu et accepté </label><a  id="connexion" href="Connexion.html">les conditions générales d'utilisations</a></div>
                </div>
                
                <div id="boutonContainer"></div>
            </form>

            <script src="../component/BoutonBleu.js?v=1.2"></script>
            <script>
                document.getElementById('boutonContainer').innerHTML = BoutonBleu("S'inscrire");
            </script>
            <script src="../Script/AfficherPass.js"></script>
        </div>
        <script src="../Script/Inscription.js"></script>

    </main>
    <footer id="footer-container" class="footer-container">
        <script src="../component/Footer/Footer.js"></script>
        <script>
            document.getElementById('footer-container').innerHTML = Footer("..");
        </script>
    </footer>
    
</body>
</html>