<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signalerutilisateur</title></header>
    <link rel="stylesheet" type="text/css" href="../component/Footer/Footer.css">
    <link rel="stylesheet" type="text/css" href="../component/Navbar/Navbar.css">
    <link rel="stylesheet" type="text/css" href="../component/BoutonRouge.css">
    <link rel="stylesheet" type="text/css" href="../component/BoutonBleu.css">
    <link rel="stylesheet" href="../Style/popupUser.css">
</head>
<body>
    <div class="background-image"></div>
    <header>
        <div id="navbar-container" class="navbar-container"></div>
        <script src="../component/Navbar/Navbar.js"></script>
        <script>
            document.getElementById('navbar-container').innerHTML = Navbar(false, "..");
        </script>
        <script src="../component/Navbar/navAction.js"></script> 
<main>
    <div class="containerLogin">
        <h1>Signaler un utilisateur</h1>
        <p>Raison du signalement<p></p>
        </form>
        <div class="container">
            <p ><input type="radio" name="genre" value="activite-dangereuse">Activité dangereuse</p>
            <p ><input type="radio" name="genre" value="publicite-deguise">Publicité déguisée</p>
            <p ><input type="radio" name="genre" value="probleme-localisation">Problème de localisation</p>
            <p ><input type="radio" name="genre" value="texte-inapproprie">Texte inapproprié</p>
            <p ><input type="radio" name="genre" value="photo-inappropriee">Photo inappropriée</p>
            <p ><input type="radio" name="genre" value="autre">Autre</p>            
        </div>
        <form action="">
            <p>Commentaire : (facultatif)</p>
            <textarea class="textComm" name="Commentaire" rows="4" cols="38"></textarea>
        </form>   
        <div class="popup-buttons">
            <div id="bouton-rouge" onclick="closePopUp()"></div>
            <div id="bouton-bleue"></div>
        </div>

            <script src="../component/BoutonRouge.js"></script>
            <script src="../component/BoutonBleu.js"></script>
            <script>
                document.getElementById('bouton-rouge').innerHTML = BoutonRouge("Annuler");
            </script>
            <script>
                document.getElementById('bouton-bleue').innerHTML = BoutonBleu("Signaler");
            </script>
    </div>
</main>
<footer id="footer-container" class="footer-container">
    <script src="../component/Footer/Footer.js"></script>
    <script>
        document.getElementById('footer-container').innerHTML = Footer("..");
    </script>
</footer>

</body>
</html>