<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signaleractiviter</title>
    </header>
    <link rel="stylesheet" type="text/css" href="../component/Footer/Footer.css">
    <link rel="stylesheet" type="text/css" href="../component/Navbar/Navbar.css">
    <link rel="stylesheet" type="text/css" href="../component/BoutonRouge.css">
    <link rel="stylesheet" type="text/css" href="../component/BoutonBleu.css">
    <link rel="stylesheet" href="../Style/Inscription.css">
</head>

<body>
    <div class="background-image"></div>
    <header>
        <div id="navbar-container" class="navbar-container"></div>
        <script src="../component/Navbar/Navbar.js"></script>
        <script>
            (async () => {
                document.getElementById('navbar-container').innerHTML = await Navbar("..");
            })();
        </script>
        <script src="../component/Navbar/navAction.js"></script>
        <main>
            <div class="containerLogin">
                <h1>Autres action:</h1>
                </form>

                <div class="popup-buttons">
                    <script src="../component/BoutonRouge.js"></script>
                    <div id="bouton-rouge" onclick="closePopUp()"></div>
                    <script>
                        document.getElementById('bouton-rouge').innerHTML = BoutonRouge("Signaler l'activiter");
                    </script>
                    <div id="bouton-rouge1" onclick="closePopUp()"></div>
                    <script>
                        document.getElementById('bouton-rouge1').innerHTML = BoutonRouge("Signalr le meeter");
                    </script>
                    <div id="bouton-rouge2" onclick="closePopUp()"></div>
                    <script>
                        document.getElementById('bouton-rouge2').innerHTML = BoutonRouge("bloquer l'utilisateur");
                    </script>
                </div>
            </div>
        </main>
        <footer id="footer-container" class="footer-container">
            <script src="../component/Footer/Footer.js"></script>
            <script>
                document.getElementById('footer-container').innerHTML = Footer("..");
            </script>
        </footer>

</body>

</html>