#footer-container {
    background-color: #004AAD;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    color: white;
    background-color: #004AAD;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

main {
    margin: 0 auto 7rem auto !important;
}

.footer-links {
    display: flex;
}

.footer-links li {
    margin-right: 3rem;
    list-style: none;
    padding-inline-start: 0;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    color: white;
    text-decoration: underline;
}

.footer-social-container img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.footer-social-container {
    display: flex;
    align-items: center;
}

.footer-social-container img:hover {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 700px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        padding: 0;
    }

    .footer-links li {
        margin: 0.5rem 0;
    }

    .footer-social-container {
        margin-top: 1rem;
    }
}
