@font-face {
    font-family: "Inter";
    src: url(../assets/font/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    font-family: "Inter";
}

main {
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin-top: 4rem;
    font-family: "Inter";
}

.grid {
    display: grid;
    grid-template-columns: 25% 75%;
}

.user {
    margin: 0 0 1rem 0;
}

.user input {
    display: none;
}

label {
    border: 1px solid #000;
    padding: 15px 10px ;
    border-radius: 10px;
    display: block;
    transition: 0.3s;
}

.user input:checked + label {
    background-color: #D9D9D9;
}

fieldset {
    border: none;
    border-right: 2px solid #000;
    padding: 1rem;
    height: 60vh;
}

.select-user {
    display: flex;
    align-items: center;;
}

.avatar {
    width: 2rem;
    height: 2rem;
}

.more {
    width: 1rem;
    height: 1rem;
}

.grow {
    flex-grow: 1;
}

#fieldset {
    overflow: scroll;
}

.user-message {
    margin: 0.3rem 0 0 0;
}

.user-name {
    margin: 0 0 0 1rem;
}

.user p {
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.message {
    padding: 1rem;
}

.message-content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 51vh;
}

@keyframes out {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}

@keyframes in {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.message-message {
    width: 40%;
    margin-bottom: 1rem;
}

.message-date {
    margin: 0;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.message-text {
    background: #D9D9D9;
    padding: 0.8rem;
    border-radius: 10px;
}

.attachment {
    max-width: 100%;
    max-height: 100%;
}

.message-text p {
    margin: 0;
}

.message-input {
    margin-top: 2rem;
    display: flex;
    align-items: center;;
}

.message-input input {
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    padding: 8px;
    font-family: "Inter";
    margin-right: 1rem;
}

.message-input img {
    width: 1.5rem;
    height: 1.5rem;
}

.message-input label, .message-input button {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 12px;
    margin-right: 1rem;
    font-family: "Inter";
    font-size: 1rem;
    outline: none;
    border: none;
}

.message-input-send {
    margin-left: 5px;
}

#send-attachment p {
    margin: 0;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.message-message-own {
    margin: 0 0 1rem auto;
}

.message-message-own .message-date {
    text-align: right;
    margin-right: 0.5rem;
}

.message-message-own .message-text {
    border: 1px solid #64A0FB;
}

#send-message:hover {
    animation: bouton 1s infinite linear;
}

@keyframes bouton {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes send {
    0% {
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
    }
    98% {
        opacity: 0;
        scale: 0.6;
        transform: translateY(-300px);
    }
    99% {
        transform: translateY(0px);
        scale: 1;
    }
    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
    }
}

.invisible {
    visibility: hidden;
}